In [26]:
from process import df

In [27]:
print(df.head())

        id_x                 created_at etp_id method_name      p_avans  \
2  135186381 2022-10-01 08:47:40.937024   UZEX    RESULTAT  11400000000
3  135186388 2022-10-01 08:47:41.018660   UZEX    RESULTAT            0
4  135186399 2022-10-01 08:47:41.144923   UZEX    RESULTAT            0
5  135186405 2022-10-01 08:47:41.220092   UZEX    RESULTAT            0
6  135186429 2022-10-01 08:47:41.521365   UZEX    RESULTAT            0

   avans_day beneficiar        contract_beg        contract_dat  \
2        0.0          - 2022-08-08 05:00:00 2022-08-08 05:00:00
3        0.0          - 2022-07-31 05:00:00 2022-07-31 05:00:00
4        0.0          - 2022-08-03 05:00:00 2022-08-03 05:00:00
5        0.0          - 2022-08-05 05:00:00 2022-08-05 05:00:00
6        0.0          - 2022-08-07 05:00:00 2022-08-07 05:00:00

         contract_end  ...  tovar_edizm  \
2 2022-12-31 05:00:00  ...            0
3 2022-12-31 05:00:00  ...            0
4 2022-12-31 05:00:00  ...            0
5 2022-12-31 05:00:00  ...            0
6 2022-12-31 05:00:00  ...            0

                                          tovar_name  tovar_note  \
2     Услуги по капитальному ремонту нежилого здания        None
3  Стол ученический лабораторный для оборудования...        None
4        Услуга по разработке проектно-сметных работ        None
5        Услуга по разработке проектно-сметных работ        None
6                               Набор офисной мебели        None

    tovar_price   tovar_summa              region_name   month    year  \
2  3.800000e+10  3.800000e+10     Наманганская область  Август  2022.0
3  4.780000e+07  7.170000e+08       Ферганская область    Июль  2022.0
4  8.490000e+08  8.490000e+08            Город Ташкент  Август  2022.0
5  1.300000e+08  1.300000e+08        Бухарская область  Август  2022.0
6  3.450000e+08  3.450000e+08  Кашкадарьинская область  Август  2022.0

  quarter  counts
2     3.0   73447
3     3.0   71041
4     3.0  183539
5     3.0   46083
6     3.0   35518

[5 rows x 59 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797710 entries, 2 to 1013213
Data columns (total 59 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id_x                797710 non-null  int64
 1   created_at          797710 non-null  datetime64[ns]
 2   etp_id              797710 non-null  object
 3   method_name         797710 non-null  object
 4   p_avans             797280 non-null  object
 5   avans_day           797710 non-null  float64
 6   beneficiar          797710 non-null  object
 7   contract_beg        797710 non-null  datetime64[ns]
 8   contract_dat        797710 non-null  datetime64[ns]
 9   contract_end        797691 non-null  datetime64[ns]
 10  contract_id         144518 non-null  float64
 11  contract_num        797710 non-null  object
 12  dvr                 797710 non-null  int64
 13  gen_id              1341 non-null    float64
 14  inn                 797710 non-null  object
 15  lot_date1           352463 non-null  datetime64[ns]
 16  lot_date2           352463 non-null  datetime64[ns]
 17  lot_id              797710 non-null  int64
 18  ls                  797710 non-null  object
 19  maloy               797710 non-null  object
 20  organ               797710 non-null  object
 21  pnfl                31110 non-null   float64
 22  proc_id             797710 non-null  object
 23  purpose             797710 non-null  object
 24  raschot             352463 non-null  float64
 25  reestr_id           483083 non-null  float64
 26  spok                797710 non-null  int64
 27  sum_nds             542501 non-null  float64
 28  p_summa             797710 non-null  float64
 29  vendor_acc          797708 non-null  object
 30  vendor_bank         797708 non-null  object
 31  vendor_country      3065 non-null    object
 32  vendor_foreign      3065 non-null    object
 33  vendor_info         3065 non-null    object
 34  vendor_inn          797707 non-null  object
 35  vendor_kls          14032 non-null   object
 36  vendor_name         797710 non-null  object
 37  vendor_terr         797710 non-null  int64
 38  version             148371 non-null  float64
 39  request_id          797710 non-null  float64
 40  resultat_method_id  797710 non-null  int64
 41  specifications_id   797710 non-null  int64
 42  id_y                797710 non-null  int64
 43  expense             797710 non-null  float64
 44  fin_year            797710 non-null  float64
 45  kls                 797710 non-null  object
 46  npos                797710 non-null  int64
 47  tovar               797710 non-null  object
 48  tovar_amount        797710 non-null  int64
 49  tovar_edizm         795110 non-null  object
 50  tovar_name          797710 non-null  object
 51  tovar_note          2719 non-null    object
 52  tovar_price         797709 non-null  float64
 53  tovar_summa         797709 non-null  float64
 54  region_name         797710 non-null  object
 55  month               797710 non-null  object
 56  year                797710 non-null  float64
 57  quarter             797710 non-null  float64
 58  counts              797710 non-null  int64
dtypes: datetime64[ns](6), float64(16), int64(11), object(26)
memory usage: 365.2+ MB

In [33]:
#tovar price type change to int
df['tovar_price'] = df['tovar_price'].fillna(0)
df['tovar_price'] = df['tovar_price'].astype(int)

In [34]:
df.tovar_price.value_counts()

250000          7809
500000          7529
1000000         7476
400000          7340
1500000         6671
                ...
40754700000        1
95094400000        1
19353298000        1
103217589600       1
8187700            1
Name: tovar_price, Length: 78941, dtype: int64

In [35]:
df[df['tovar_name'] == 'Бензин автомобильный'].groupby('month')['tovar_price'].mean()

month
Август      3.775326e+08
Апрель      4.541308e+08
Июль        3.972765e+08
Июнь        1.819993e+08
Май         5.863195e+07
Март        3.205345e+08
Ноябрь      6.073258e+08
Октябрь     4.840906e+08
Сентябрь    3.115272e+08
Февраль     9.200000e+05
Январь      4.263055e+08
Name: tovar_price, dtype: float64

In [39]:
#average price for Бензин автомобильный by month
df[df['tovar_name'] == 'Бензин автомобильный'].groupby('month')['tovar_price'].mean()

month
Август      3.775326e+08
Апрель      4.541308e+08
Июль        3.972765e+08
Июнь        1.819993e+08
Май         5.863195e+07
Март        3.205345e+08
Ноябрь      6.073258e+08
Октябрь     4.840906e+08
Сентябрь    3.115272e+08
Февраль     9.200000e+05
Январь      4.263055e+08
Name: tovar_price, dtype: float64

In [36]:
df.tovar_price = round(df.tovar_price, 2)

In [37]:
import numpy as np
df.groupby('region_name')['tovar_price'].agg(np.mean)

region_name
Андижанская область          1.143880e+09
Бухарская область            3.399709e+09
Город Ташкент                4.218200e+09
Джизакская область           2.034979e+09
Кашкадарьинская область      3.427781e+09
Навоийская область           3.971316e+09
Наманганская область         1.697142e+09
Республика Каракалпакстан    2.422861e+09
Самаркандская область        3.242091e+09
Сирдарьинская область        2.059793e+09
Сурхандарьинская область     3.312927e+09
Ташкентская область          6.049640e+09
Ферганская область           1.643113e+09
Хорезмская область           2.012121e+09
Name: tovar_price, dtype: float64